In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("./data/bank-marketing/bank-additional-full.csv",sep=';', delimiter=None)

In [7]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [11]:
labels = data['y']

In [13]:
labels.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [20]:
data = data.drop(['y'],axis=1)

In [22]:
for i in data.keys():
    tmp = set(data[i])
    if(len(tmp) <20):
        print (i,tmp)

job {'services', 'student', 'retired', 'entrepreneur', 'admin.', 'blue-collar', 'housemaid', 'unknown', 'self-employed', 'technician', 'management', 'unemployed'}
marital {'unknown', 'married', 'single', 'divorced'}
education {'illiterate', 'professional.course', 'high.school', 'university.degree', 'basic.4y', 'unknown', 'basic.9y', 'basic.6y'}
default {'unknown', 'no', 'yes'}
housing {'unknown', 'no', 'yes'}
loan {'unknown', 'no', 'yes'}
contact {'telephone', 'cellular'}
month {'oct', 'apr', 'sep', 'mar', 'nov', 'dec', 'jun', 'jul', 'aug', 'may'}
day_of_week {'wed', 'thu', 'tue', 'mon', 'fri'}
previous {0, 1, 2, 3, 4, 5, 6, 7}
poutcome {'failure', 'success', 'nonexistent'}
emp.var.rate {-0.1, 1.1, -0.2, 1.4, -1.7, -3.0, -1.1, -3.4, -2.9, -1.8}
nr.employed {4963.6, 5191.0, 5099.1, 5195.8, 5228.1, 5008.7, 5076.2, 4991.6, 5176.3, 5017.5, 5023.5}

In [ ]:
from sklearn.preprocessing import LabelEncoder

labelencoder_X = LabelEncoder()
bank_client['job']      = labelencoder_X.fit_transform(bank_client['job']) 
bank_client['marital']  = labelencoder_X.fit_transform(bank_client['marital']) 
bank_client['education']= labelencoder_X.fit_transform(bank_client['education']) 
bank_client['default']  = labelencoder_X.fit_transform(bank_client['default']) 
bank_client['housing']  = labelencoder_X.fit_transform(bank_client['housing']) 
bank_client['loan']     = labelencoder_X.fit_transform(bank_client['loan'])